<!-- <app-navbar></app-navbar>

<div class="container">
  <div class="text-center mt-5 my-2">
    <img src="{{ dataUser.profile }}" class="rounded-circle" alt="" />
  </div>
  <div class="text-center my-3">
    <span style="font-size: 28px"
      >ยินดีต้อนรับคุณ {{ dataUser.firstname }} {{ dataUser.lastname }}</span
    >
  </div>
  <div class="text-center">
    <span style="color: #444746"
      >จัดการข้อมูล ความเป็นส่วนตัว
      และความปลอดภัยเพื่อให้บัญชีของคุณมีประสิทธิภาพมากขึ้น</span
    >
  </div>
  <div class="mx-5">
    <div class="card mt-4">
      <div class="card-header py-3" style="font-size: 22px">ข้อมูลพื้นฐาน</div>
      <div class="card-body">
        <div
          class="d-flex align-items-center justify-content-between"
          style="margin: 0 10rem"
        >
          <div>รูปโปรไฟล์</div>
          <img
            class="rounded-circle"
            src="{{ dataUser.profile }}"
            alt=" imageProfile"
            width="70"
            height="70"
          />
        </div>

        <hr />

        <div
          class="d-flex align-items-center justify-content-between mb-1"
          style="margin: 0 10rem"
        >
          <div>ชื่อ</div>
          <div class="text-uppercase">
            {{ dataUser.firstname }} {{ dataUser.lastname }}
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header py-3" style="font-size: 22px">ข้อมูลติดต่อ</div>
      <div class="card-body">
        <div
          class="d-flex align-items-center justify-content-between"
          style="margin: 0 10rem"
        >
          <div>อีเมลล์</div>
          <div class="dataEmail">{{ dataUser.email }}</div>
        </div>

        <hr />

        <div
          class="d-flex align-items-center justify-content-between mb-1"
          style="margin: 0 10rem"
        >
          <div>เบอร์โทรศัทพ์</div>
          <div class="text-uppercase">
            {{ dataUser.numberphone }}
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header py-3" style="font-size: 22px">ที่อยู่</div>
      <div class="card-body">
        <div
          class="d-flex align-items-center justify-content-between"
          style="margin: 0 10rem"
        >
          <div>ที่อยู่บ้าน</div>
          <div
            class="dataProvince"
            *ngIf="
              !dataUser.province &&
              !dataUser.amphure &&
              !dataUser.tambon &&
              !dataUser.zipcode
            "
          >
            ไม่มีข้อมูล
          </div>
          <button
            pButton
            class="p-button-text rounded-circle p-button-secondary p-3"
            (click)="showEditAddress()"
          >
            <i class="pi pi-arrow-right"></i>
          </button>
        </div>

        <hr />

        <div
          class="d-flex align-items-center justify-content-between mb-1"
          style="margin: 0 10rem"
        >
          <div>เบอร์โทรศัทพ์</div>
          <div class="text-uppercase">
            {{ dataUser.numberphone }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="ที่อยู่บ้าน"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '80rem', height: '80rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="card">
    <div class="card-header p-3">ฟอร์มแก้ไขที่อยู่บ้าน</div>
    <div class="card-body">
      <form action="">
        <div>
          <p-autoComplete
            class="m-0 p-0"
            formControlName="selectedCountry"
            [suggestions]="filteredCountries"
            (completeMethod)="filterCountry($event)"
            field="province_nameth"
          >
          </p-autoComplete>
        </div>
      </form>
    </div>
  </div>
</p-dialog> -->

<app-navbar></app-navbar>
<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>

<div class="container">
  <div class="text-center mt-5 my-2">
    <img [src]="dataUser.profile" class="border-circle" alt="" />
  </div>
  <div class="text-center my-3">
    <span style="font-size: 28px"
      >ยินดีต้อนรับคุณ {{ dataUser.firstname }} {{ dataUser.lastname }}</span
    >
  </div>
  <div class="text-center">
    <span style="color: #444746"
      >จัดการข้อมูล ความเป็นส่วนตัว
      และความปลอดภัยเพื่อให้บัญชีของคุณมีประสิทธิภาพมากขึ้น</span
    >
  </div>

  <div class="mt-5 w-7 mx-auto">
    <p-card
      header="ข้อมูลพื้นฐาน"
      subheader="ผู้ใช้บริการ Google รายอื่นๆ อาจเห็นข้อมูลบางอย่างของคุณ ดูข้อมูลเพิ่มเติม"
    >
      <div class="content-data-user mx-5">
        <div class="flex justify-content-between align-items-center">
          <span class="imageProfile">รูปโปรไฟล์</span>
          <span
            >รูปโปรไฟล์ผู้ใช้จะต้องเปลี่ยนภายใน Google
            และทำการเข้าสู่ระบบใหม่</span
          >
          <img
            class="border-circle my-2"
            src="{{ dataUser.profile }}"
            alt=""
            width="50"
            height="50"
          />
        </div>
        <hr />
        <div class="flex justify-content-between align-items-center">
          <span class="imageProfile">ชื่อ</span>
          <span class="fname-lname uppercase"
            >{{ dataUser.firstname }} {{ dataUser.lastname }}</span
          >
          <button
            disabled
            pButton
            class="p-button-text rounded-circle p-button-primary border-circle"
            (click)="showEditAddress()"
          >
            <i class="pi pi-arrow-right -p-1"></i>
          </button>
        </div>
      </div>
    </p-card>
  </div>

  <div class="mt-5 w-7 mx-auto">
    <p-card header="ข้อมูลติดต่อ">
      <div class="content-data-user mx-5">
        <div class="flex justify-content-between align-items-center my-4">
          <span class="email">อีเมลล์</span>
          <span>{{ dataUser.email }}</span>
        </div>
        <hr class="my-3" />
        <div class="flex justify-content-between align-items-center">
          <span class="numberphone">ชื่อ</span>
          <span class="fname-lname uppercase">{{ dataUser.numberphone }}</span>
        </div>
      </div>
    </p-card>
  </div>

  <div class="mt-5 w-7 mx-auto">
    <p-card header="ที่อยู่บ้าน">
      <div class="content-data-user mx-5">
        <hr class="my-3" />
        <div class="flex justify-content-between align-items-center">
          <div>ที่อยู่บ้าน</div>
          <div
            class="dataProvince"
            *ngIf="
              !(
                dataUser.province &&
                dataUser.amphure &&
                dataUser.tambon &&
                dataUser.zipcode
              )
            "
          >
            <!-- ตรวจสอบข้อมูล หากไม่มีข้อมูลให้แสดงข้อมูล -->
            ไม่มีข้อมูล
          </div>
          <div
            *ngIf="
              dataUser.province &&
              dataUser.amphure &&
              dataUser.tambon &&
              dataUser.zipcode
            "
            class="noData"
          >
            ตำบล {{ dataUser.tambon }} อำเภอ {{ dataUser.amphure }} จังหวัด
            {{ dataUser.province }} รหัสไปรษณีย์ {{ dataUser.zipcode }}
          </div>
          <button
            pButton
            class="p-button-text rounded-circle p-button-primary border-circle"
            (click)="showEditAddress()"
          >
            <i class="pi pi-arrow-right -p-1"></i>
          </button>
        </div>
      </div>
    </p-card>
  </div>
</div>

<!-- DialogAddress -->
<p-dialog
  header="ฟอร์มแก้ไขที่อยู่บ้าน"
  [(visible)]="visible"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '80rem', height: '40rem' }"
>
  <ng-template pTemplate="content">
    <div class="flex gap-3">
      <div class="field w-12">
        <span class="p-float-label mt-5">
          <p-autoComplete
            [(ngModel)]="selectedProvince"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            [suggestions]="filteredProvince"
            (completeMethod)="filterProvince($event)"
            field="province_nameth"
            [dropdown]="true"
            (onSelect)="amphure($event)"
          ></p-autoComplete>
          <label for="province">จังหวัด</label>
        </span>
        <small class="p-error" *ngIf="submitted && !selectedProvince"
          >Province is required.</small
        >
      </div>

      <div class="field w-12">
        <span class="p-float-label mt-5">
          <p-dropdown
            [(ngModel)]="selectedAmphure"
            [filter]="true"
            [options]="dataAmphure"
            [disabled]="inputAmphureDropdown"
            optionLabel="amphure_nameth"
            [style]="{ width: '100%' }"
            placeholder="เลือกอำเภอ"
            (onChange)="tambon($event)"
          ></p-dropdown>
          <label for="amphure">อำเภอ</label>
        </span>
        <small class="p-error" *ngIf="submitted && !selectedAmphure"
          >Amphure is required.</small
        >
      </div>
    </div>

    <div class="flex gap-3">
      <div class="field w-12">
        <span class="p-float-label mt-5">
          <p-dropdown
            [(ngModel)]="selectedTambon"
            [filter]="true"
            [options]="dataTambon"
            [disabled]="inputTambonDropdown"
            optionLabel="tambon_nameth"
            [style]="{ width: '100%' }"
            placeholder="เลือกตำบล"
            (onChange)="zipcode($event)"
          ></p-dropdown>
          <label for="amphure">ตำบล</label>
        </span>
        <small class="p-error" *ngIf="submitted && !selectedTambon"
          >Tambon is required.</small
        >
      </div>

      <div class="field w-12">
        <span class="p-float-label mt-5">
          <input
            [(ngModel)]="selectedZipcode"
            pInputText
            type="text"
            disabled="true"
            [value]="autoZipcode"
            [style]="{ width: '100%' }"
            placeholder="รหัสไปรษณีย์"
          />
          <label for="zipcode">รหัสไปรษณีย์</label>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="submit"
      class="p-button-danger"
      icon="pi pi-times"
      label="ยกเลิก"
      (click)="visible = false"
    ></button>
    <button
      pButton
      type="submit"
      icon="pi pi-check"
      label="บันทึก"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
