<app-navbar></app-navbar>
<div class="staff-component flex flex-column flex-wrap align-content-center">
  <div class="my-2 flex justify-content-between">
    <div class="">
      <button
        pButton
        pRipple
        class="p-button-primary"
        label="สร้างเอกสาร"
        [disabled]="disabledButtondialogDocument"
        (click)="dialogDocument = true"
      ></button>
    </div>
    <div>
      <button
        type="button"
        pRipple
        pButton
        icon="pi pi-file-pdf"
        class="p-button-warning mr-auto"
        pTooltip="PDF"
        tooltipPosition="bottom"
        (click)="generatePDF()"
      ></button>
    </div>
  </div>
  <div
    #contentPage1
    class="shadow-3 flex flex-column"
    style="width: 210mm; height: 297mm; padding: 10mm"
  >
    <div class="fz22 font-bold text-center mb-3">
      แบบบันทึกข้อมูลประวัติข้าราชการและลูกจ้างประจำ
    </div>

    <div class="flex fz16 my-3">
      <span>๑. คำนำหน้าชื่อ, ชื่อสกุล เจ้าของประวัติ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted"
        >{{ getRachkarn?.prefixth }}{{ getRachkarn?.firstnameth }}
        {{ getRachkarn?.lastnameth }}</span
      >
      <span class="ml-3">ชื่อเล่น</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.nickname
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>คำนำหน้าชื่อ, ชื่อสกุล (ภาษาอังกฤษ)</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted"
        >{{ getRachkarn?.prefixen }}{{ getRachkarn?.firstname_en }}
        {{ getRachkarn?.lastname_en }}</span
      >
    </div>

    <div class="flex fz16 my-3">
      <span>ตำแหน่ง</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.position
      }}</span>
      <span class="ml-3">เกิดเมื่อ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.birthdayme
      }}</span>
      <span class="ml-3">ศาสนา</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.religion
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>เลขบัตรประจำตัวประชาขน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.cardnumber
      }}</span>
      <span class="ml-3">หมู่โลหิต</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.blood
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>๒. ที่พักอาศัยปัจจุบัน บ้านเลขที่</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.numberhouse
      }}</span>
      <span class="ml-3">หมู่ที่</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.village
      }}</span>
      <span class="ml-3">หมู่บ้าน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.villagename
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>ตรอก/ซอย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.alley
      }}</span>
      <span class="ml-3">ถนน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.road
      }}</span>
      <span class="ml-3">ตำบล/แขวง</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.tambon
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>อำเภอ/เขต</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.alley
      }}</span>
      <span class="ml-3">จังหวัด</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.province
      }}</span>
      <span class="ml-3">รหัสไปรษณีย์</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.zipcode
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>ตรอก/ซอย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.alley
      }}</span>
      <span class="ml-3">ถนน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.road
      }}</span>
      <span class="ml-3">ตำบล/แขวง</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.tambon
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>โทรศัพท์</span>
      <span class="ml-2 px-1" style="border-bottom: 1px dotted">{{
        getRachkarn?.telephone
      }}</span>
      <span class="ml-3">โทรศัพท์มือถือ</span>
      <span class="ml-2 px-1" style="border-bottom: 1px dotted">{{
        getRachkarn?.telephonemobile
      }}</span>
      <span class="ml-3">E-mail</span>
      <span class="ml-2 px-1" style="border-bottom: 1px dotted">{{
        getRachkarn?.emailme
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>๓. ที่อยู่หลักของครอบครัว (ตามทะเบียนบ้าน) บ้านเลขที่</span>
      <span class="ml-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.fnumberhouse
      }}</span>
      <span class="ml-3">หมู่ที่</span>
      <span class="ml-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.fvillage
      }}</span>
      <span class="ml-3">หมู่บ้าน</span>
      <span class="ml-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.fvillagename
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>ตรอก/ซอย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.falley
      }}</span>
      <span class="ml-3">ถนน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.froad
      }}</span>
      <span class="ml-3">ตำบล/แขวง</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.ftambon
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>อำเภอ/เขต</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.famphure
      }}</span>
      <span class="ml-3">จังหวัก</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fprovince
      }}</span>
      <span class="ml-3">รหัสไปรษณีย์</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fzipcode
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>โทรศัพท์</span>
      <span class="ml-2 px-1" style="border-bottom: 1px dotted">{{
        getRachkarn?.ftelephone
      }}</span>
      <span class="ml-3">โทรศัพท์มือถือ</span>
      <span class="ml-2 px-1" style="border-bottom: 1px dotted">{{
        getRachkarn?.ftelephonemobile
      }}</span>
      <span class="ml-3">E-mail</span>
      <span class="ml-2 px-1" style="border-bottom: 1px dotted">{{
        getRachkarn?.femail
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>๔. สถานภาพ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.status
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>๕. คู่สมรส ชื่อ</span>
      <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spousename
      }}</span>
      <span class="ml-3">ชื่อสกุล</span>
      <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spouselastname
      }}</span>
      <span class="ml-3">สกุลเดิมก่อนสมรส (หญิง)</span>
      <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spouseoldlastname
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>อายุ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.spouseage
      }}</span>
      <span class="ml-2">ปี</span>

      <span class="ml-3">ศาสนา</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.spousereligion
      }}</span>

      <span class="ml-3">อาชีพ</span>
      <!-- <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spouseoccupation
      }}</span> -->
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">ค้าขาย</span>

      <span class="ml-3">โทรศัพท์</span>
      <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spousetelephone
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>สถานที่ทำงาน</span>
      <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spouseoccupationwork
      }}</span>

      <span class="ml-3">จังหวัด</span>
      <span class="ml-2 px-2" style="border-bottom: 1px dotted">{{
        getRachkarn?.spouseworkprovince
      }}</span>
    </div>
  </div>

  <div
    #contentPage2
    class="shadow-3 flex flex-column mt-2"
    style="width: 210mm; height: 297mm; padding: 10mm"
  >
    <span class="mx-auto fz16">- ๒ -</span>

    <div class="flex fz16 my-3">
      <span>๗. ชื่อบิดา</span>
      <span class="px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fathername
      }}</span>

      <span class="ml-8">นามสกุล</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherlastname
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>เกิดเมื่อ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherbirthday
      }}</span>

      <span class="ml-3">ศาสนา</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherreligion
      }}</span>

      <span class="ml-3">อายุ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherage
      }}</span>
      <span>ปี</span>
    </div>

    <div class="flex fz16 my-3">
      <span>สถานที่พักอาศัย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fathernumberhouse
      }}</span>

      <span class="ml-3">หมู่ที่</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fathervillage
      }}</span>

      <span class="ml-3">หมู่บ้าน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fathervillagename
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>ตรอก/ซอย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatheralley
      }}</span>

      <span class="ml-3">ถนน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherroad
      }}</span>

      <span class="ml-3">ตำบล/แขวง</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fathertambon
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>อำเภอ/เขต</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatheramphure
      }}</span>

      <span class="ml-3">จังหวัด</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherprovince
      }}</span>

      <span class="ml-3">รหัสไปรษณีย์</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.fatherzipcode
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>๗. ชื่อมารดา</span>
      <span class="px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.mothername
      }}</span>

      <span class="ml-8">นามสกุล</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherlastname
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>เกิดเมื่อ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherbirthday
      }}</span>

      <span class="ml-3">ศาสนา</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherreligion
      }}</span>

      <span class="ml-3">อายุ</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherage
      }}</span>
      <span>ปี</span>
    </div>

    <div class="flex fz16 my-3">
      <span>สถานที่พักอาศัย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.mothernumberhouse
      }}</span>

      <span class="ml-3">หมู่ที่</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.mothervillage
      }}</span>

      <span class="ml-3">หมู่บ้าน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.mothervillagename
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>ตรอก/ซอย</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motheralley
      }}</span>

      <span class="ml-3">ถนน</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherroad
      }}</span>

      <span class="ml-3">ตำบล/แขวง</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.mothertambon
      }}</span>
    </div>

    <div class="flex fz16 my-3">
      <span>อำเภอ/เขต</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motheramphure
      }}</span>

      <span class="ml-3">จังหวัด</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherprovince
      }}</span>

      <span class="ml-3">รหัสไปรษณีย์</span>
      <span class="ml-2 px-5" style="border-bottom: 1px dotted">{{
        getRachkarn?.motherzipcode
      }}</span>
    </div>

    <div class="fz16 text-center mt-8" style="margin-left: 20rem">
      <img src="{{ this.getRachkarn?.laisen }}" alt="" />
      <div class="my-3">
        <span style="border-bottom: 1px dotted"
          >({{ getRachkarn?.prefixth }}{{ getRachkarn?.firstnameth }}
          {{ getRachkarn?.lastnameth }})</span
        >
      </div>
      <div class="my-3">
        <span>วันที่</span>
        <span style="border-bottom: 1px dotted">{{
          getRachkarn?.datelaisen
        }}</span>
        <span class="ml-2">เดือน</span>
        <span style="border-bottom: 1px dotted">{{
          getRachkarn?.monthlaisen
        }}</span>
        <span class="ml-2">ปี</span>
        <span style="border-bottom: 1px dotted">{{
          getRachkarn?.yearlaisen
        }}</span>
      </div>
    </div>

    <p-dialog
      [draggable]="false"
      style="height: 100%"
      [(visible)]="dialogDocument"
      [maximizable]="true"
    >
      <div class="container px-7 mt-5">
        <form [formGroup]="formStaff" (ngSubmit)="Onsubmit()">
          <p-card class="" [style]="{ width: 'width' }" styleClass="styleClass">
            <div class="flex justify-content-between">
              <span class="text-3xl"
                >แบบข้อมูลประวัติข้าราชการและลูกจ้างประจำ</span
              >
              <button
                type="button"
                pRipple
                pButton
                icon="pi pi-file-pdf"
                class="p-button-warning mr-2"
                pTooltip="PDF"
                tooltipPosition="bottom"
                (click)="generatePDF()"
              ></button>
            </div>

            <div class="grid text-base field">
              <div class="col-3">
                <span>๑. คำนำหน้าชื่อ</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="prefix"
                  optionLabel="name_th"
                  placeholder="Select a City"
                  placeholder="คำนำหน้าชื่อภาษาไทย"
                  formControlName="prefixth"
                  (onChange)="OnChangePrefixth($event)"
                ></p-dropdown>
              </div>
              <div class="col-3">
                <span>ชื่อสกุลเจ้าของประวัติ</span>
                <input
                  pInputText
                  type="text"
                  class="w-12"
                  name="firstname_th"
                  id="firstname_th"
                  placeholder="ชื่อภาษาไทย"
                  formControlName="firstnameth"
                />
              </div>
              <div class="col-3">
                <span>นามสกุล</span>
                <input
                  pInputText
                  type="text"
                  name="lastname_th"
                  id="lastname_th"
                  class="w-12"
                  placeholder="นามสกุลภาษไทย"
                  formControlName="lastnameth"
                />
              </div>
              <div class="col-3">
                <span>ชื่อเล่น</span>
                <input
                  pInputText
                  type="text"
                  name="nickname"
                  id="nickname"
                  class="w-12"
                  placeholder="ชื่อเล่น"
                  formControlName="nickname"
                />
              </div>
            </div>
            <div class="grid text-base field">
              <div class="col-3">
                <span>คำนำหน้าชื่อ</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="prefix"
                  optionLabel="name_en"
                  placeholder="Select a City"
                  placeholder="คำนำหน้าชื่อภาษาอังกฤษ"
                  formControlName="prefixen"
                ></p-dropdown>
              </div>
              <div class="col-3">
                <span>ชื่อสกุล (ภาษาอังกฤษ)</span>
                <input
                  pInputText
                  type="text"
                  name="firstname_en"
                  id="firstname_en"
                  class="w-12"
                  placeholder="ชื่อภาษาอังกฤษ"
                  formControlName="firstname_en"
                />
              </div>
              <div class="col-3">
                <span>นามสกุล</span>
                <input
                  pInputText
                  type="text"
                  name="lastname_en"
                  id="lastname_en"
                  class="w-12"
                  placeholder="นามสกุลภาษาอังกฤษ"
                  formControlName="lastname_en"
                />
              </div>
              <div class="col-3">
                <span>ตำแหน่ง</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="position"
                  optionLabel="name_th"
                  placeholder="ตำแหน่ง"
                  formControlName="position"
                ></p-dropdown>
              </div>
            </div>
            <div class="field grid text-base">
              <div class="col-3">
                <span>เกิดเมื่อวันที่</span>
                <p-calendar
                  [style]="{ width: '100%' }"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  formControlName="birthdayme"
                ></p-calendar>
              </div>
              <div class="col-3">
                <span>ศาสนา</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="religion"
                  optionLabel="religion"
                  placeholder="ศาสนา"
                  formControlName="religion"
                ></p-dropdown>
              </div>
              <div class="col-3">
                <span>เลขบัตรประจำตัวประชาชน</span>
                <p-inputMask
                  [style]="{ width: '100%' }"
                  mask="9-9999-99999-99-9"
                  placeholder="กรอกเลขบัตรประจำตัวประชาชน"
                  formControlName="cardnumber"
                ></p-inputMask>
              </div>
              <div class="col-3">
                <span>หมู่โลหิต</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="blood"
                  optionLabel="bloodgroup"
                  placeholder="กรุ๊ปเลือด"
                  formControlName="blood"
                ></p-dropdown>
              </div>
            </div>

            <hr class="my-5" />

            <div class="field text-base grid">
              <div class="col-3">
                <span>๒. ที่พักอาศัยปัจจุบัน</span>
                <input
                  class="w-12"
                  type="text"
                  name="numberHouse"
                  id="numberHouse"
                  pInputText
                  placeholder="บ้านเลขที่"
                  formControlName="numberhouse"
                />
              </div>
              <div class="col-3">
                <span>หมู่ที่</span>
                <input
                  class="w-12"
                  type="text"
                  name="village"
                  id="village"
                  pInputText
                  placeholder="หมู่ที่"
                  formControlName="village"
                />
              </div>
              <div class="col-3">
                <span>หมู่บ้าน</span>
                <input
                  class="w-12"
                  type="text"
                  name="villagename"
                  id="villagename"
                  pInputText
                  placeholder="หมู่บ้าน"
                  formControlName="villagename"
                />
              </div>
              <div class="col-3">
                <span>ตรอก/ซอย</span>
                <input
                  class="w-12"
                  type="text"
                  name="alley"
                  id="alley"
                  pInputText
                  placeholder="ตรอก/ซอย"
                  formControlName="alley"
                />
              </div>
            </div>
            <div class="field text-base grid">
              <div class="col-3">
                <span>ถนน</span>
                <input
                  class="w-12"
                  pInputText
                  type="text"
                  name="road"
                  id="road"
                  placeholder="ถนน"
                  formControlName="road"
                />
              </div>
              <div class="col-3">
                <span>ตำบล/แขวง</span>
                <input
                  class="w-12"
                  pInputText
                  type="text"
                  name="tambon"
                  id="tambon"
                  placeholder="ตำบล/แขวง"
                  formControlName="tambon"
                />
              </div>
              <div class="col-3">
                <span>อำเภอ</span>
                <input
                  class="w-12"
                  pInputText
                  type="text"
                  name="amphure"
                  id="amphure"
                  placeholder="อำเภอ"
                  formControlName="amphure"
                />
              </div>
              <div class="col-3">
                <span>จังหวัด</span>
                <input
                  class="w-12"
                  pInputText
                  type="text"
                  name="province"
                  id="province"
                  placeholder="จังหวัด"
                  formControlName="province"
                />
              </div>
            </div>
            <div class="field text-base grid">
              <div class="col-3">
                <span>รหัสไปรษณีย์</span>
                <input
                  class="w-12"
                  pInputText
                  type="text"
                  name="zipcode"
                  id="zipcode"
                  placeholder="รหัสไปรษณีย์"
                  formControlName="zipcode"
                />
              </div>
              <div class="col-3">
                <span>โทรศัพท์</span>
                <input
                  class="w-12"
                  pInputText
                  type="text"
                  name="telephone"
                  id="telephone"
                  placeholder="เบอรโทรศัพท์"
                  formControlName="telephone"
                />
              </div>
              <div class="col-3">
                <span>โทรศัพท์มือถือ</span>
                <p-inputMask
                  [style]="{ width: '100%' }"
                  mask="(999)-9999999"
                  placeholder="เบอร์โทรศพท์มือถือ"
                  formControlName="telephonemobile"
                ></p-inputMask>
              </div>
              <div class="col-3">
                <span>E-mail</span>
                <input
                  class="w-12"
                  pInputText
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@example.com"
                  formControlName="emailme"
                />
              </div>
            </div>

            <hr class="my-5" />

            <div class="text-base field grid">
              <div class="col-3">
                <span>๓. ที่อยู่หลักของครอบครัว (ตามทะเบียนบ้าน)</span>
                <input
                  pInputText
                  type="text"
                  name="fnumberhouse"
                  id="fnumberhouse"
                  class="w-12"
                  placeholder="บ้านเลขที่"
                  formControlName="fnumberhouse"
                />
              </div>

              <div class="col-3">
                <span>หมู่ที่</span>
                <input
                  pInputText
                  type="text"
                  name="fvillage"
                  id="fvillage"
                  class="w-12"
                  placeholder="หมู่ที่"
                  formControlName="fvillage"
                />
              </div>

              <div class="col-3">
                <span>หมู่บ้าน</span>
                <input
                  pInputText
                  type="text"
                  name="fvillagename"
                  id="fvillagename"
                  class="w-12"
                  placeholder="หมู่บ้าน"
                  formControlName="fvillagename"
                />
              </div>

              <div class="col-3">
                <span>ตรอก/ซอย</span>
                <input
                  pInputText
                  type="text"
                  name="falley"
                  id="falley"
                  class="w-12"
                  placeholder="ตรอก/ซอย"
                  formControlName="falley"
                />
              </div>
            </div>

            <div class="text-base field grid">
              <div class="col-3">
                <span>ถนน</span>
                <input
                  pInputText
                  type="text"
                  name="froad"
                  id="froad"
                  class="w-12"
                  placeholder="ถนน"
                  formControlName="froad"
                />
              </div>

              <div class="col-3">
                <span>ตำบล/แขวง</span>
                <input
                  pInputText
                  type="text"
                  name="ftambon"
                  id="ftambon"
                  class="w-12"
                  placeholder="ตำบล/แขวง"
                  formControlName="ftambon"
                />
              </div>

              <div class="col-3">
                <span>อำเภอ/เขต</span>
                <input
                  pInputText
                  type="text"
                  name="famphure"
                  id="famphure"
                  class="w-12"
                  placeholder="อำเภอ/เขต"
                  formControlName="famphure"
                />
              </div>

              <div class="col-3">
                <span>จังหวัด</span>
                <input
                  pInputText
                  type="text"
                  name="fprovince"
                  id="fprovince"
                  class="w-12"
                  placeholder="จังหวัด"
                  formControlName="fprovince"
                />
              </div>
            </div>

            <div class="text-base field grid">
              <div class="col-3">
                <span>รหัสไปรษณีย์</span>
                <input
                  pInputText
                  type="text"
                  name="fzipcode"
                  id="fzipcode"
                  class="w-12"
                  placeholder="รหัสไปรษณีย์"
                  formControlName="fzipcode"
                />
              </div>

              <div class="col-3">
                <span>โทรศัพท์</span>
                <input
                  pInputText
                  type="text"
                  name="ftelephone"
                  id="ftelephone"
                  class="w-12"
                  placeholder="โทรศัพท์"
                  formControlName="ftelephone"
                />
              </div>

              <div class="col-3">
                <span>โทรศัพท์มือถือ</span>
                <p-inputMask
                  [style]="{ width: '100%' }"
                  formControlName="ftelephonemobile"
                  mask="(999)-9999999"
                  placeholder="เบอร์โทรศพท์มือถือ"
                  formControlName="ftelephonemobile"
                ></p-inputMask>
              </div>

              <div class="col-3">
                <span>E-mail</span>
                <input
                  pInputText
                  type="email"
                  name="femail"
                  id="femail"
                  class="w-12"
                  placeholder="example@example.com"
                  formControlName="femail"
                />
              </div>
            </div>

            <hr class="my-5" />

            <div class="flex flex-wrap gap-3 field">
              <span>๔. สถานภาพ</span>
              <div *ngFor="let status of statuses" class="field-checkbox">
                <p-radioButton
                  [inputId]="status.type_id"
                  name="status"
                  [value]="status.name_th"
                  formControlName="status"
                ></p-radioButton>
                <label [for]="status.type_id" class="ml-2">{{
                  status.name_th
                }}</label>
              </div>
            </div>

            <hr class="my-5" />

            <div class="text-base field grid">
              <div class="col-3">
                <span>๕. คู่สมรส ชื่อ</span>
                <input
                  pInputText
                  type="text"
                  name="spousename"
                  id="spousename"
                  class="w-12"
                  formControlName="spousename"
                />
              </div>

              <div class="col-3">
                <span>นามสกุล</span>
                <input
                  pInputText
                  type="text"
                  name="spouselastname"
                  id="spouselastname"
                  class="w-12"
                  formControlName="spouselastname"
                />
              </div>

              <div class="col-3">
                <span>สกุลเดิมก่อนสมรส (หญิง)</span>
                <input
                  pInputText
                  type="text"
                  name="spouseoldlastname"
                  id="spouseoldlastname"
                  class="w-12"
                  formControlName="spouseoldlastname"
                />
              </div>

              <div class="col-3">
                <span>อายุ </span>
                <div class="flex align-items-center">
                  <input
                    pInputText
                    type="text"
                    name="spouseage"
                    id="spouseage"
                    class="w-12 mr-2"
                    formControlName="spouseage"
                  />
                  <span>ปี</span>
                </div>
              </div>
            </div>

            <div class="text-base field grid">
              <div class="col-3">
                <span>ศาสนา</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="religion"
                  optionLabel="religion"
                  placeholder="ศาสนา"
                  formControlName="spousereligion"
                ></p-dropdown>
              </div>

              <div class="col-3">
                <span>อาชีพ</span>
                <input
                  pInputText
                  type="text"
                  name="spouseoccupation"
                  id="spouseoccupation"
                  class="w-12"
                  formControlName="spouseoccupation"
                />
              </div>

              <div class="col-3">
                <span>สถานที่ทำงาน</span>
                <input
                  pInputText
                  type="text"
                  name="spouseoccupationwork"
                  id="spouseoccupationwork"
                  class="w-12"
                  formControlName="spouseoccupationwork"
                />
              </div>

              <div class="col-3">
                <span>จังหวัด</span>
                <input
                  pInputText
                  type="text"
                  name="spouseworkprovince"
                  id="spouseworkprovince"
                  class="w-12"
                  formControlName="spouseworkprovince"
                />
              </div>
            </div>
            <div class="grid text-base field">
              <div class="col-3">
                <span>โทรศัพท์</span>
                <input
                  pInputText
                  type="text"
                  name="spousetelephone"
                  id="spousetelephone"
                  class="w-12"
                  formControlName="spousetelephone"
                />
              </div>
            </div>

            <hr class="my-5" />

            <div class="field grid text-base">
              <div class="col-3">
                <span>๖. ชื่อบิดา</span>
                <input
                  pInputText
                  type="text"
                  name="fathername"
                  id="fathername"
                  class="w-12"
                  placeholder="ชื่อบิดา"
                  formControlName="fathername"
                />
              </div>

              <div class="col-3">
                <span>นามสกุล</span>
                <input
                  pInputText
                  type="text"
                  name="fatherlastname"
                  id="fatherlastname"
                  class="w-12"
                  placeholder="นามสกุลบิดา"
                  formControlName="fatherlastname"
                />
              </div>

              <div class="col-3">
                <span>เกิดเมื่อวันที่</span>
                <p-calendar
                  [style]="{ width: '100%' }"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  formControlName="fatherbirthday"
                  placeholder="วันเดือนปีเกิด"
                ></p-calendar>
              </div>

              <div class="col-3">
                <span>ศาสนา</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="religion"
                  optionLabel="religion"
                  placeholder="ศาสนา"
                  formControlName="fatherreligion"
                ></p-dropdown>
              </div>
            </div>

            <div class="text-base field grid">
              <div class="col-3">
                <span>อายุ</span>
                <input
                  pInputText
                  type="text"
                  name="fatherage"
                  id="fatherage"
                  class="w-12"
                  formControlName="fatherage"
                  placeholder="อายุ"
                />
              </div>

              <div class="col-3">
                <span>มีชีวิตอยู่ สถานที่พักอาศัย</span>
                <input
                  pInputText
                  type="text"
                  name="fathernumberhouse"
                  id="fathernumberhouse"
                  class="w-12"
                  placeholder="บ้านเลขที่"
                  formControlName="fathernumberhouse"
                />
              </div>

              <div class="col-3">
                <span>หมู่ที่</span>
                <input
                  pInputText
                  type="text"
                  name="fathervillage"
                  id="fathervillage"
                  class="w-12"
                  placeholder="หมู่ที่"
                  formControlName="fathervillage"
                />
              </div>

              <div class="col-3">
                <span>หมู่บ้าน</span>
                <input
                  pInputText
                  type="text"
                  name="fathervillagename"
                  id="fathervillagename"
                  class="w-12"
                  placeholder="หมู่บ้าน"
                  formControlName="fathervillagename"
                />
              </div>
            </div>

            <div class="field grid text-base">
              <div class="col-3">
                <span>ตรอก/ซอย</span>
                <input
                  pInputText
                  type="text"
                  name="fatheralley"
                  id="fatheralley"
                  class="w-12"
                  placeholder="ตรอก/ซอย"
                  formControlName="fatheralley"
                />
              </div>

              <div class="col-3">
                <span>ถนน</span>
                <input
                  pInputText
                  type="text"
                  name="fatherroad"
                  id="fatherroad"
                  class="w-12"
                  placeholder="ถนน"
                />
              </div>

              <div class="col-3">
                <span>ตำบล/แขวง</span>
                <input
                  pInputText
                  type="text"
                  name="fathertambon"
                  id="fathertambon"
                  class="w-12"
                  placeholder="ตำบล/แขวง"
                  formControlName="fathertambon"
                />
              </div>

              <div class="col-3">
                <span>อำเภอ/เขต</span>
                <input
                  pInputText
                  type="text"
                  name="fatheramphure"
                  id="fatheramphure"
                  class="w-12"
                  placeholder="อำเภอ/เขต"
                  formControlName="fatheramphure"
                />
              </div>
            </div>

            <div class="text-base grid field">
              <div class="col-3">
                <span>จังหวัด</span>
                <input
                  pInputText
                  type="text"
                  name="fatherprovince"
                  id="fatherprovince"
                  class="w-12"
                  placeholder="จังหวัด"
                  formControlName="fatherprovince"
                />
              </div>

              <div class="col-3">
                <span>รหัสไปรษณีย์</span>
                <input
                  pInputText
                  type="text"
                  name="fatherzipcode"
                  id="fatherzipcode"
                  class="w-12"
                  placeholder="รหัสไปรษณีย์"
                  formControlName="fatherzipcode"
                />
              </div>

              <div class="col-3">
                <span>โทรศัพท์</span>
                <input
                  pInputText
                  type="text"
                  name="fathertelephone"
                  id="fathertelephone"
                  class="w-12"
                  placeholder="โทรศัพท์"
                  formControlName="fathertelephone"
                />
              </div>

              <div class="col-3">
                <span>โทรศัพท์มือถือ</span>
                <input
                  pInputText
                  type="text"
                  name="fathertelephonemobile"
                  id="fathertelephonemobile"
                  class="w-12"
                  placeholder="โทรศัพท์มือถือ"
                  formControlName="fathertelephonemobile"
                />
              </div>
            </div>

            <hr class="my-5" />

            <div class="field grid text-base">
              <div class="col-3">
                <span>๗. ชื่อมารดา</span>
                <input
                  pInputText
                  type="text"
                  name="mothername"
                  id="mothername"
                  class="w-12"
                  placeholder="ชื่อมารดา"
                  formControlName="mothername"
                />
              </div>

              <div class="col-3">
                <span>นามสกุล</span>
                <input
                  pInputText
                  type="text"
                  name="motherlastname"
                  id="motherlastname"
                  class="w-12"
                  placeholder="นามสกุลมารดา"
                  formControlName="motherlastname"
                />
              </div>

              <div class="col-3">
                <span>เกิดเมื่อวันที่</span>
                <p-calendar
                  [style]="{ width: '100%' }"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  formControlName="fatherbirthday"
                  placeholder="วันเดือนปีเกิด"
                ></p-calendar>
              </div>

              <div class="col-3">
                <span>ศาสนา</span>
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="religion"
                  optionLabel="religion"
                  placeholder="ศาสนา"
                  formControlName="motherreligion"
                ></p-dropdown>
              </div>
            </div>

            <div class="text-base field grid">
              <div class="col-3">
                <span>อายุ</span>
                <input
                  pInputText
                  type="text"
                  name="motherage"
                  id="motherage"
                  class="w-12"
                  formControlName="motherage"
                  placeholder="อายุ"
                />
              </div>

              <div class="col-3">
                <span>มีชีวิตอยู่ สถานที่พักอาศัย</span>
                <input
                  pInputText
                  type="text"
                  name="mothernumberhouse"
                  id="mothernumberhouse"
                  class="w-12"
                  placeholder="บ้านเลขที่"
                  formControlName="mothernumberhouse"
                />
              </div>

              <div class="col-3">
                <span>หมู่ที่</span>
                <input
                  pInputText
                  type="text"
                  name="mothervillage"
                  id="mothervillage"
                  class="w-12"
                  placeholder="หมู่ที่"
                  formControlName="mothervillage"
                />
              </div>

              <div class="col-3">
                <span>หมู่บ้าน</span>
                <input
                  pInputText
                  type="text"
                  name="mothervillagename"
                  id="mothervillagename"
                  class="w-12"
                  placeholder="หมู่บ้าน"
                  formControlName="mothervillagename"
                />
              </div>
            </div>

            <div class="field grid text-base">
              <div class="col-3">
                <span>ตรอก/ซอย</span>
                <input
                  pInputText
                  type="text"
                  name="motheralley"
                  id="motheralley"
                  class="w-12"
                  placeholder="ตรอก/ซอย"
                  formControlName="motheralley"
                />
              </div>

              <div class="col-3">
                <span>ถนน</span>
                <input
                  pInputText
                  type="text"
                  name="motherroad"
                  id="motherroad"
                  class="w-12"
                  placeholder="ถนน"
                  formControlName="motherroad"
                />
              </div>

              <div class="col-3">
                <span>ตำบล/แขวง</span>
                <input
                  pInputText
                  type="text"
                  name="mothertambon"
                  id="mothertambon"
                  class="w-12"
                  placeholder="ตำบล/แขวง"
                  formControlName="mothertambon"
                />
              </div>

              <div class="col-3">
                <span>อำเภอ/เขต</span>
                <input
                  pInputText
                  type="text"
                  name="motheramphure"
                  id="motheramphure"
                  class="w-12"
                  placeholder="อำเภอ/เขต"
                  formControlName="motheramphure"
                />
              </div>
            </div>

            <div class="text-base grid field">
              <div class="col-3">
                <span>จังหวัด</span>
                <input
                  pInputText
                  type="text"
                  name="motherprovince"
                  id="motherprovince"
                  class="w-12"
                  placeholder="จังหวัด"
                  formControlName="motherprovince"
                />
              </div>

              <div class="col-3">
                <span>รหัสไปรษณีย์</span>
                <input
                  pInputText
                  type="text"
                  name="motherzipcode"
                  id="motherzipcode"
                  class="w-12"
                  placeholder="รหัสไปรษณีย์"
                  formControlName="motherzipcode"
                />
              </div>

              <div class="col-3">
                <span>โทรศัพท์</span>
                <input
                  pInputText
                  type="text"
                  name="mothertelephone"
                  id="mothertelephone"
                  class="w-12"
                  placeholder="โทรศัพท์"
                  formControlName="mothertelephone"
                />
              </div>

              <div class="col-3">
                <span>โทรศัพท์มือถือ</span>
                <input
                  pInputText
                  type="text"
                  name="mothertelephonemobile"
                  id="mothertelephonemobile"
                  class="w-12"
                  placeholder="โทรศัพท์มือถือ"
                  formControlName="mothertelephonemobile"
                />
              </div>
            </div>

            <!-- <span class="mr-3 flex align-items-center">สถานะ</span>
        <div
          *ngFor="let statuslife of statuslife"
          class="flex align-items-center"
        >
          <p-radioButton
            [inputId]="statuslife.idstatus"
            name="fatherstatuslife"
            [value]="statuslife.status"
            formControlName="fatherstatuslife"
            (onClick)="radioButton(statuslife.idstatus, statuslife.status)"
          ></p-radioButton>
          <label [for]="statuslife.status" class="ml-2">{{
            statuslife.status
          }}</label>
        </div>
      </div>

      <div [hidden]="visibleLife" class="field">
        <div class="text-base grid field">
          <div class="col-3">
            <span>มีชีวิตอยู่ สถานที่พักอาศัย</span>
            <input
              pInputText
              type="text"
              name="fathernumberhouse"
              id="fathernumberhouse"
              class="w-12"
              placeholder="บ้านเลขที่"
              formControlName="fathernumberhouse"
            />
          </div>

          <div class="col-3">
            <span>หมู่ที่</span>
            <input
              pInputText
              type="text"
              name="fathervillage"
              id="fathervillage"
              class="w-12"
              placeholder="หมู่ที่"
              formControlName="fathervillage"
            />
          </div>

          <div class="col-3">
            <span>หมู่บ้าน</span>
            <input
              pInputText
              type="text"
              name="fathervillagename"
              id="fathervillagename"
              class="w-12"
              placeholder="หมู่บ้าน"
              formControlName="fathervillagename"
            />
          </div>

          <div class="col-3">
            <span>ตรอก/ซอย</span>
            <input
              pInputText
              type="text"
              name="fatheralley"
              id="fatheralley"
              class="w-12"
              placeholder="ตรอก/ซอย"
              formControlName="fatheralley"
            />
          </div>
        </div>

        <div class="text-base grid feild">
          <div class="col-3">
            <span>ถนน</span>
            <input
              pInputText
              type="text"
              name="fatherroad"
              id="fatherroad"
              class="w-12"
              placeholder="fatherroad"
            />
          </div>

          <div class="col-3">
            <span>ตำบล/แขวง</span>
            <input
              pInputText
              type="text"
              name="fathertambon"
              id="fathertambon"
              class="w-12"
              placeholder="ตำบล/แขวง"
              formControlName="fathertambon"
            />
          </div>

          <div class="col-3">
            <span>อำเภอ/เขต</span>
            <input
              pInputText
              type="text"
              name="fatheramphure"
              id="fatheramphure"
              class="w-12"
              placeholder="อำเภอ/เขต"
              formControlName="fatheramphure"
            />
          </div>

          <div class="col-3">
            <span>จังหวัด</span>
            <input
              pInputText
              type="text"
              name="fatherprovince"
              id="fatherprovince"
              class="w-12"
              placeholder="จังหวัด"
              formControlName="fatherprovince"
            />
          </div>
        </div>

        <div class="text-base field grid">
          <div class="col-3">
            <span>รหัสไปรษณีย์</span>
            <input
              pInputText
              type="text"
              name="fatherzipcode"
              id="fatherzipcode"
              class="w-12"
              placeholder="รหัสไปรษณีย์"
              formControlName="fatherzipcode"
            />
          </div>
          <div class="col-3">
            <span>โทรศัพท์</span>
            <input
              pInputText
              type="text"
              name="fathertelephone"
              id="fathertelephone"
              class="w-12"
              placeholder="โทรศัพท์"
              formControlName="fathertelephone"
            />
          </div>

          <div class="col-3">
            <span>โทรศัพท์มือถือ</span>
            <input
              pInputText
              type="text"
              name="fathertelephonemobile"
              id="fathertelephonemobile"
              class="w-12"
              placeholder="โทรศัพท์มือถือ"
              formControlName="fathertelephonemobile"
            />
          </div>
        </div>
      </div>

      <div [hidden]="visibleDead">
        <div class="text-base grid field">
          <div class="col-3">
            <span>ถึงแก่กรรม เมื่อวันที่</span>
            <p-calendar
              [style]="{ width: '100%' }"
              [iconDisplay]="'input'"
              [showIcon]="true"
              formControlName="fatherdayofdead"
            ></p-calendar>
          </div>

          <div class="col-3">
            <span>ตามใบมรณบัตรสำนักทะเบียน</span>
            <input
              pInputText
              type="text"
              name="certificatedead"
              id="certificatedead"
              class="w-12"
              formControlName="fathercertificatedead"
            />
          </div>
          <div class="col-3">
            <span>เลขที่</span>
            <input
              pInputText
              type="text"
              name="certificatenumber"
              id="certificatenumber"
              class="w-12"
              formControlName="fathercertificatenumber"
            />
          </div>
        </div> -->
            <!-- </div> -->
            <div class="text-center" style="margin-left: 60rem">
              <button
                pButton
                *ngIf="this.visibleButtonDialogSignPad"
                class="border-none bg-cyan-600 hover:bg-cyan-700"
                (click)="showDialogSignaturePad()"
                pRipple
                icon="pi pi-pencil"
                label="พิมพ์ลานเซ็นของคุณที่นี่"
              ></button>
              <div
                style="text-align: center"
                class="mt-3"
                *ngIf="this.visibleSignImage"
              >
                <img src="{{ signPadImage }}" #laisen />
              </div>

              <p-dialog
                header="Header"
                [(visible)]="visibleSignaturePad"
                [modal]="true"
                [draggable]="false"
                [resizable]="false"
                [style]="{ width: '30rem' }"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
              >
                <ng-template pTemplate="header">
                  <div
                    class="inline-flex align-items-center justify-content-center gap-2"
                  >
                    <p-avatar
                      image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png"
                      shape="circle"
                    />
                    <span class="font-bold white-space-nowrap">Amy Elsner</span>
                  </div>
                </ng-template>
                <p class="m-0">
                  <canvas ngClass="shadow-5 mt-1" #signPadCanvas></canvas>
                </p>
                <ng-template pTemplate="footer">
                  <button
                    pRipple
                    pButton
                    class="p-button-danger"
                    icon="pi pi-times"
                    (click)="clearSignPad()"
                    label="Clear"
                    pAutoFocus
                  ></button>
                  <button
                    pRipple
                    pButton
                    class="p-button-success"
                    icon="pi pi-pencil"
                    label="Save"
                    (click)="saveSignPad()"
                  ></button>
                </ng-template>
              </p-dialog>

              <div class="fname-lname text-center mb-3">
                <p>
                  ({{ prefixth }}{{ formStaff.get("firstnameth")?.value }}
                  {{ formStaff.get("lastnameth")?.value }})
                </p>
                <div
                  class="flex align-items-center"
                  style="margin-left: 11.5rem"
                >
                  <span>วันที่</span>
                  <input
                    pInputText
                    formControlName="datelaisen"
                    type="text"
                    name="date"
                    id="date"
                    class="w-1 mr-1"
                  />
                  <span>เดือน</span>
                  <input
                    pInputText
                    formControlName="monthlaisen"
                    type="text"
                    name="month"
                    id="month"
                    class="w-3 mr-1"
                  />
                  <span>พ.ศ.</span>
                  <input
                    pInputText
                    formControlName="yearlaisen"
                    type="text"
                    name="year"
                    id="year"
                    class="w-2 mr-1"
                  />
                </div>
              </div>
            </div>

            <p-footer class="footer-card">
              <div class="flex">
                <button
                  type="submit"
                  class="bg-primary mx-2"
                  pRipple
                  label="บันทึกข้อมูล"
                  pButton
                ></button>
                <button
                  pRipple
                  pButton
                  class="p-button-warning"
                  (click)="showDialogSignaturePad()"
                  label="แก้ไขลายเซ็น"
                ></button>
              </div>
            </p-footer>
          </p-card>
        </form>
      </div>
    </p-dialog>
  </div>
</div>
