@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.staff-component {
  font-family: 'Sarabun', sans-serif;
}

:host .card-container .card {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  user-select: none;
  padding: 0;
}

:host .card-container .card:last-child {
  margin-right: 0;
}

.fz22 {
  font-size: 22px;
}

.fz18 {
  font-size: 18px;
}

:host .fz16 {
  font-size: 16px;
}

:host .tab {
  tab-size: 1; /* for e.g: value = 2*/
}

:host .tab2 {
  tab-size: 2; /* for e.g: value = 2*/
}

:host .tab3 {
  tab-size: 3; /* for e.g: value = 2*/
}

:host .tab4 {
  tab-size: 4; /* for e.g: value = 2*/
}

:host .tab5 {
  tab-size: 5; /* for e.g: value = 2*/
}

:host .tab6 {
  tab-size: 6; /* for e.g: value = 2*/
}

:host .tab7 {
  tab-size: 7; /* for e.g: value = 2*/
}

:host .tab8 {
  tab-size: 8; /* for e.g: value = 2*/
}
