<app-navbar></app-navbar>
<p-toast
  [showTransformOptions]="'translateY(10%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(10%)'"
></p-toast>

<div class="container px-7 pt-1">
  <div class="text-right">
    <button
      pButton
      icon="pi pi-bars"
      tooltipPosition="bottom"
      class="p-button-text p-button-secondary hover:surface-200 border-circle"
      (click)="op1.toggle($event)"
    ></button>
  </div>

  <p-overlayPanel #op1 styleClass="col-6 sm:col-5 md:col-4 lg:col-3 xl:col-2">
    <div class="flex gap-3">
      <button
        pButton
        class="flex-column text-center text-900 border-round-3xl py-2 p-button-secondary hover:surface-100 p-button-text"
        routerLink="/personal-info"
      >
        <img
          [src]="dataUser?.profile"
          class="border-circle"
          alt=""
          width="40"
          height="40"
        />
        <div>บัญชี1</div>
      </button>
      <button
        pButton
        class="flex-column text-center text-900 border-round-3xl py-2 p-button-secondary hover:surface-100 p-button-text"
        routerLink="/staff"
      >
        <img
          src="../../../assets/images/3135715.png"
          class="border-circle"
          alt=""
          width="40"
          height="40"
        />
        <div>ก.พ.7</div>
      </button>
    </div>
  </p-overlayPanel>
  <p-carousel
    [value]="imageData"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
  >
    <ng-template let-imageData pTemplate="carousel">
      <div class="m-2 text-center">
        <div class="mb-3">
          <img [src]="imageData.src" [alt]="imageData.src" class="w-8 shadow-2"/>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>


<!-- <div *ngFor="let book of dataBook">
  <div>{{ book.name }}</div>
  <div>{{ book.author }}</div>
  <div>{{ book.publication }}</div>
</div> -->
<!--
<p-table [value]="products" dataKey="ID" [tableStyle]="{'min-width': '50rem', 'font-size': '14px'}">
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th pSortableColumn="ID" style="width:17%">ID <p-sortIcon field="ID"></p-sortIcon></th>
      <th pSortableColumn="name" style="width:17%">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="author" style="width:17%">Author <p-sortIcon field="author"></p-sortIcon></th>
      <th pSortableColumn="publication" style="width:17%">Publication <p-sortIcon field="publication"></p-sortIcon></th>
      <th style="width:40%">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-i="rowIndex">
    <tr>
      <td class="text-center">{{ product.ID }}</td>
      <td class="text-center">{{ product.name }}</td>
      <td class="text-center">{{ product.author }}</td>
      <td class="text-center">{{ product.publication }}</td>
      <td class="text-center">
        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editItem(product.ID)"
          class="p-button-rounded p-button-text rounded-circle p-button-warning"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteProduct(product.ID, $event)"
          class="p-button-rounded p-button-text rounded-circle p-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table> -->
